button {
    background-color: rgb(127, 28, 194); 
    color: white; 
    border-radius: 4px;
    height: 42px;
    width: 105px;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    cursor: pointer;
}

button:hover {
    transition: background-color 0.3s ease;
    background-color: rgb(104, 25, 157); 
}
