<div class="layout">
    <app-hero-card></app-hero-card>
    <div class="cardGames">
        <app-game-card [routerLink]="['/games/crash']" cardTitle="CRASH" imageSrc="../assets/images/crash.png"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="ROULETTE" imageSrc="../assets/images/roullete.png"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="BLACKJACK" imageSrc="../assets/images/blackjack.png"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="COIN FLIP" imageSrc="../assets/images/coinflip.png"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="TOWERS" imageSrc="../assets/images/towers.png"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="UNBOXING" imageSrc="../assets/images/unboxing.png"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="IN PROGRESS" imageSrc="../assets/images/"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="IN PROGRESS" imageSrc="../assets/images/"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="IN PROGRESS" imageSrc="../assets/images/"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="IN PROGRESS" imageSrc="../assets/images/"></app-game-card>
    </div>
</div>