<div class="hero">
    <app-hero-card></app-hero-card>
        <div class="games-title">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red" 
            viewBox="0 0 256 256" class="text-accent"><path d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"></path></svg>
            <span>LuqBet Originals</span>
        </div>
    <div class="card-games">
        <app-game-card [routerLink]="['/games/crash']" cardTitle="CRASH" imageSrc="../assets/images/crash.png"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="ROULETTE" imageSrc="../assets/images/roullete.png"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="BLACKJACK" imageSrc="../assets/images/blackjack.png"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="COIN FLIP" imageSrc="../assets/images/coinflip.png"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="TOWERS" imageSrc="../assets/images/towers.png"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="UNBOXING" imageSrc="../assets/images/unboxing.png"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="IN PROGRESS" imageSrc="../assets/images/"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="IN PROGRESS" imageSrc="../assets/images/"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="IN PROGRESS" imageSrc="../assets/images/"></app-game-card>
        <app-game-card [routerLink]="['/games/crash']" cardTitle="IN PROGRESS" imageSrc="../assets/images/"></app-game-card>
    </div>
</div>
