<div class="layout">
    <app-header></app-header>
    <app-hero-card></app-hero-card>
    <!-- <app-game-card imageSrc="../assets/images/crash.png" imageAlt="Crash"></app-game-card> -->
    <div class="cardGames">
        <app-game-card cardTitle="CRASH"></app-game-card>
        <app-game-card cardTitle="ROULETTE"></app-game-card>
        <app-game-card cardTitle="BLACKJACK"></app-game-card>
        <app-game-card cardTitle="COIN FLIP"></app-game-card>
        <app-game-card cardTitle="TOWERS"></app-game-card>
        <app-game-card cardTitle="UNBOXING"></app-game-card>
        <app-game-card cardTitle="IN PROGRESS"></app-game-card>
        <app-game-card cardTitle="IN PROGRESS"></app-game-card>
        <app-game-card cardTitle="IN PROGRESS"></app-game-card>
        <app-game-card cardTitle="IN PROGRESS"></app-game-card>
    </div>

</div>