/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=New+Amsterdam&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import 'variables';

* {
    font-family: "Rubik", sans-serif !important;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: $--backround-color;
    margin: 0;
    padding: 0;
}


.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.layout-landing {
    gap: 15px;
}

.layout-games {
    gap: 6px;
}