.game-card {
    width: 100%;
    height: 16.9vh;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 18px; 

    display: flex;
    align-items: center;      
    justify-content: center;  

    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.game-card:hover {
    background-color: rgb(104, 25, 157);
    transform: translateY(-5px); 
}