<div class="layout-crash">
    <app-game-container>
        <div class="card-multipliers">
            <app-card-multiplier *ngFor="let multiplier of multipliers" [multiplierNumber]="multiplier">
            </app-card-multiplier>
        </div>
        <app-crash-game (multiplierReached)="onMultiplierReached($event)"></app-crash-game>
        <app-place-bet></app-place-bet>
    </app-game-container>
    <div class="game-summary">
        <app-game-summary gameName="Crash">
            <app-small-card></app-small-card>
        </app-game-summary>
    </div>
</div>