//COLORS
$--color-dark-500: #33394a;
$--color-dark-600: #313545;
$--color-dark-650: #2b2f3d;
$--color-dark-700: #22242f;
$--color-dark-750: #1f232d;
$--color-dark-800: #1b1e27;
$--color-dark-850: #171921;
$--color-dark-900: #15171e;

$--color-grey-body-bg: #0E151F;

//BORDER RADIUS
$--container-radius: .375rem;

