:host {
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.199);


    width: 100%;
    max-height: 118px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    max-width: 30%;
    gap: 10px;
    margin-left: 3%;
    align-items: center;

    color: white;
    font-size: 25px;
    font-weight: 500;
}

#casino-logo {
    max-width: 20%;
}

.login-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-right: 3%;
    justify-content: center;
    align-items: center;
}

#login-enter {
    color: white;
    font-weight: 500;
    cursor: pointer;
}

